body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  background-color: rgb(0, 0, 0);
}

.menuItem {
  padding: 12px;
}

.menuItem:last-child {
  border-right: none;
}

.menuItem a {
  flex: 1;
  margin-left: 180px;
  text-decoration: none;
  color: peru;
}
